/ Page Content
.container
  .row
    .col-lg-12
      %h1.page-header
        CV
        %small
      %ol.breadcrumb
        %li
          %a{:href => "#{root_path}"} Home
        %li.active CV
  / /.row
  / Blog Post Row
  .row
    .col-md-1.text-center
      %p
        %i.fa.fa-camera.fa-4x
      %p June 17, 2014
    .col-md-5
      %a{:href => "blog-post.html"}
        %img.img-responsive.img-hover{:alt => "", :src => "http://placehold.it/600x300"}
    .col-md-6
      %h3
        %a{:href => "blog-post.html"} Blog Post Title
      %p
        by
        %a{:href => "#"} Start Bootstrap
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      %a.btn.btn-primary{:href => "blog-post.html"}
        Read More
        %i.fa.fa-angle-right
  / /.row
  %hr
    / Blog Post Row
    .row
      .col-md-1.text-center
        %p
          %i.fa.fa-film.fa-4x
        %p June 17, 2014
      .col-md-5
        %a{:href => "blog-post.html"}
          %img.img-responsive.img-hover{:alt => "", :src => "http://placehold.it/600x300"}
      .col-md-6
        %h3
          %a{:href => "blog-post.html"} Blog Post Title
        %p
          by
          %a{:href => "#"} Start Bootstrap
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        %a.btn.btn-primary{:href => "blog-post.html"}
          Read More
          %i.fa.fa-angle-right
    / /.row
    %hr
      / Blog Post Row
      .row
        .col-md-1.text-center
          %p
            %i.fa.fa-file-text.fa-4x
          %p June 17, 2014
        .col-md-5
          %a{:href => "blog-post.html"}
            %img.img-responsive.img-hover{:alt => "", :src => "http://placehold.it/600x300"}
        .col-md-6
          %h3
            %a{:href => "blog-post.html"} Blog Post Title
          %p
            by
            %a{:href => "#"} Start Bootstrap
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          %a.btn.btn-primary{:href => "blog-post.html"}
            Read More
            %i.fa.fa-angle-right
      / /.row
      %hr
        / Pager
        .row
          %ul.pager
            %li.previous
              %a{:href => "#"} &larr; Older
            %li.next
              %a{:href => "#"} Newer &rarr;
        / /.row
        %hr