/ Page Content
.container
  .row
    .col-lg-12
      %h1.page-header
        CV
        %small
      %ol.breadcrumb
        %li
          %a{:href => "#{root_path}"} Home
        %li.active CV
  / /.row
  / Education Row
  .row
    .col-md-1.text-center
      %p
        %i.fa.fa-graduation-cap.fa-4x
    .col-md-11
      %h3
        Education
      .col-md-3
        %p 1997
      .col-md-9
        %p Indiana University; Bloomington, Indiana; Master of Fine Art in painting
      .col-md-3
        %p 1992-93
      .col-md-9
        %p The School of the Art Institute of Chicago; Chicago, Illinois
      .col-md-3
        %p 1990
      .col-md-9
        %p Washington and Lee University; Lexington, Virginia; Bachelor of Arts in English and theater
  / /.row
  %hr
    / Exhibitions Row
    .row
      .col-md-1.text-center
        %p
          %i.fa.fa-picture-o.fa-4x
      .col-md-11
        %h3
          Exhibitions
        .col-md-3
          %p 2009
        .col-md-9
          %p Somerhill Gallery; Durham, NC; group exhibition
        .col-md-9.col-md-offset-3
          %p Jack Meier Gallery; Houston, TX; two-person exhibition
        .col-md-3
          %p 2008
        .col-md-9
          %p Travis Tower, Houston, TX; Paintings; three-person exhibition curated by Kinzelman Art Consulting
        .col-md-9.col-md-offset-3
          %p Jack Meier Gallery; Houston, TX; two-person exhibition
        .col-md-3
          %p 2006
        .col-md-9
          %p Jack Meier Gallery; Houston, TX; Art Houston; group exhibition
        .col-md-3
          %p 2004
        .col-md-9
          %p Gainesville College; Oakwood, Georgia; faculty exhibition
        .col-md-3
          %p 2003
        .col-md-9
          %p Brenau University; Gainesville, Georgia; faculty exhibition
        .col-md-9.col-md-offset-3
          %p Gainesville College; Oconee, Georgia; faculty exhibition
        .col-md-9.col-md-offset-3
          %p Carisma Gallery; Buford, Georgia; group exhibition
        .col-md-9.col-md-offset-3
          %p Four Rooms; Buford, Georgia; group exhibition
        .col-md-3
          %p 2001
        .col-md-9
          %p Cambridge Research and Investment Partners, Inc.; Buford, Georgia; group exhibition
        .col-md-3
          %p 2000
        .col-md-9
          %p Elusive Elements; Atlanta Artists Center; Atlanta, Georgia; juried exhibition
        .col-md-9.col-md-offset-3
          %p Montgomery Art Guild; Regions Bank; Montgomery, Alabama; juried exhibition
        .col-md-9.col-md-offset-3
          %p Atlanta Artists Center; Atlanta, Georgia; group exhibition; August
        .col-md-3
          %p 1997
        .col-md-9
          %p Home Office, Inc.; K2 Enterprises; Bloomington, Indiana; solo exhibition
        .col-md-9.col-md-offset-3
          %p School of Fine Arts Gallery; Indiana University; Bloomington, Indiana; MFA thesis exhibition
        .col-md-3
          %p 1996
        .col-md-9
          %p School of Fine Arts Gallery; Indiana University; Bloomington, Indiana; group exhibition
        .col-md-3
          %p 1993
        .col-md-9
          %p Around the Coyote; Chicago, Illinois; solo exhibition at Puddin’head Books; Wicker Park
        .col-md-3
          %p 1990
        .col-md-9
          %p Around the Coyote; Chicago, Illinois; solo exhibition at Puddin’head Books; Wicker Park

  / /.row
  %hr
    / Awards Row
    .row
      .col-md-1.text-center
        %p
          %i.fa.fa-trophy.fa-4x
      .col-md-11
        %h3
          Awards/Grants
        .col-md-3
          %p 2000
        .col-md-9
          %p First Prize in painting; Elusive Elements, Atlanta Artists Center; Atlanta, Georgia
        .col-md-3
          %p 1996
        .col-md-9
          %p Travel grant for foreign study; Florence, Italy
        .col-md-3
          %p 1990
        .col-md-9
          %p Graduated magna cum laude; Washington and Lee University
        .col-md-9.col-md-offset-3
          %p Graham Award for Fine Arts; Washington and Lee University
        .col-md-9.col-md-offset-3
          %p Hirschmann Award for Drama; Washington and Lee University
        .col-md-9.col-md-offset-3
          %p Wornom Award for Distinguished Critical Writing; Washington and Lee University
  / /.row
  %hr
    / Collections Row
    .row
      .col-md-1.text-center
        %p
          %i.fa.fa-th.fa-4x
      .col-md-11
        %h3
          Public Collections
        .col-md-12
          %p Indiana University; Office of the Registrar; Franklin Hall; Bloomington, Indiana
        .col-md-12
          %p Washington and Lee University; School of Fine Arts; Lexington, Virginia
  / /.row
  %hr
    / Teaching Row
    .row
      .col-md-1.text-center
        %p
          %i.fa.fa-university.fa-4x
      .col-md-11
        %h3
          Teaching
        .col-md-3
          %p 2003-05
        .col-md-9
          %p Adjunct Instructor; Fine Arts; Brenau University; Gainesville, Georgia
        .col-md-9.col-md-offset-3
          %p Adjunct Instructor; Fine Arts; Gainesville College; Oakwood, Georgia
        .col-md-3
          %p 2001
        .col-md-9
          %p Guest Lecturer; Cincinnati Academy of Art; Cincinnati, Ohio
        .col-md-3
          %p 1996-97
        .col-md-9
          %p Assistant Instructor; Indiana University; Bloomington, Indiana
  / /.row
  %hr
    / Review Row
    .row
      .col-md-1.text-center
        %p
          %i.fa.fa-edit.fa-4x
      .col-md-11
        %h3
          = link_to "Review", reviews_path
        .col-md-3
          %p May 15, 1997
        .col-md-9
          %p Debris:; by Tom Rhea; Bloomington Voice; Bloomington, Indiana
  / /.row
  %a.back-to-top{:href => "#"} 
    %i.fa.fa-chevron-up