/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require modern-business
 *= require_tree .
 */
/*add space between rows*/
.spacer {
  margin-top: 45px;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

ul {
  list-style-type: none;
}

/*Category Items on Index*/
.isotopeWrapper article{
  margin-bottom: 30px;
}

#portfolio {
  background: rgb(24, 24, 24);
}
  #portfolio img {
    width: 100%
  }
  #portfolio article p{
    margin-bottom: 1.45em;
  }
  .portfolio-items article img{
  width: 100%;
}

.portfolio-item {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition:    all 0.2s ease-in-out;
  -o-transition:      all 0.2s ease-in-out;
  transition:         all 0.2s ease-in-out;
}
  .portfolio-item img{
    -webkit-transition: all 300ms liner;
    -moz-transition:    all 300ms liner;
    -o-transition:      all 300ms liner;
    transition:         all 300ms liner;
  }
  .portfolio-item .portfolio-desc {
    display: block;
    opacity: 0;
    position: absolute;;
    width: 100%;
    left: 0;
    top: 0;
    color: rgba(220, 220, 220, 0.8);
  }

.fancybox-overlay {
  background: rgba(0, 0, 0, 0.64);
}

.portfolio-item:hover .portfolio-desc {
  padding-top: 20%;
  height: 100%;
  transition: all 200ms ease-in-out 0s;
  opacity: 1;
  background: rgba(61, 61, 61, 0.67);
}

.portfolio-item .portfolio-desc a {
  color: #fff;
  text-align: center;
  display: block;
}
  .portfolio-item .portfolio-desc a:hover {
    text-decoration: none;
  }

.portfolio-item .portfolio-desc .folio-info {
  top: -20px;
  padding: 30px;
  height: 0;
  opacity: 0;
  position: relative;
}

.portfolio-item:hover .folio-info {
  height: 100%;
  opacity: 1;
  transition: all 500ms ease-in-out 0s;
  top: 5px;
}

.portfolio-item .portfolio-desc .folio-info h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

.portfolio-item .portfolio-desc .folio-info p {
  color: #ffffff;
  font-size: 12px;
}
